@model Lab4_Estructuras.Models.Grado
@{
    ViewBag.Title = "GradoGuardado";
}

<h3>Grado añadido.</h3>
<button type="button" onclick="location.href = '@Url.Action("Home","Home")'">Regresar a página de inicio</button>

