
@{
    ViewBag.Title = "CrearArbol";
}

<h2>Muestra del Arbol</h2>
<button type="button" onclick="location.href = '@Url.Action("Home","Home")'">Regresar a inicio</button>

<h3>Va bastante bien pero aún no se muestra jaja, ver el código por favor.</h3>