
@{
    ViewBag.Title = "Home";
}

<h2>Inicio</h2>

<button type="button" onclick="location.href = '@Url.Action("CrearPedido","Pedido")'">Crear Pedido</button>
<button type="button" onclick="location.href = '@Url.Action("CrearArbol","Solicitud")'">Ver Arbol</button>
